<footer class="footer">
{% if site.cv_download_link %}
<p class="subtitle">
  For more information, have a look at my

  <a class="highlight-link" href="{{site.cv_download_link}}" target="_blank" rel="noreferrer">
    Resume.
  </a>
</p>
{% elsif site.data.curriculum-vitae %}
<p class="subtitle">
  For more information, have a look at my CV:
  {% for cv in site.data.curriculum-vitae %}
    <a class="highlight-link" href="{{cv.link}}" target="_blank" rel="noreferrer">
      {{ cv.language }}
    </a>
  {% endfor %}
  .
</p>
{% endif %}
</footer>

<!-- Google Analytics -->
{% if site.google-analytics %}
<script>
  var dnt = navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack;
  if (dnt != "1" && dnt != "yes") {
    (function (i, s, o, g, r, a, m) {
      i["GoogleAnalyticsObject"] = r;
      (i[r] =
        i[r] ||
        function () {
          (i[r].q = i[r].q || []).push(arguments);
        }),
        (i[r].l = 1 * new Date());
      (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m);
    })(
      window,
      document,
      "script",
      "https://www.google-analytics.com/analytics.js",
      "ga"
    );
    ga("create", "{{ site.google-analytics.id }}", "auto");
    ga("send", "pageview");
  }
</script>
{% endif %}
